html,body{
  margin: 0;
  padding: 0;
}

body{
  background-color:#338CFF ;
}
.logo{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 30px;

}
.logo >img{
  height: 35px;
  margin-left: auto;
  margin-right: auto;


}
.header{
  text-align: center;
  font-family:  Century Gothic, sans-serif;
  font-weight: normal;
  margin-top: 15px;

}
.wrapper{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  /*display: grid;
  grid-template-columns: auto;
  grid-row: 3fr 3fr;*/

}
.placeholder{

}
.first-form{
  width: 400px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px 10px 40px;

}

.label{
  text-align: left;
  margin-bottom: 15px;
}
fieldset{
  border: none;
}
.first-form input{
  width: 318px;
  border: 2px solid gray;
  padding: 15px;
  margin-bottom: 15px;
}

.signup{
  width: 320px;
  color: white;
  background-color: #5DF02D;
  font-family: helvetica;
  font-size: 24px;
  margin-bottom: 5px;
  height: 55px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.forgot{
  text-align: center;
  margin-bottom: 15px;
  font-family: arial;
  font-weight: 100;
  color: gray;
}
.forgot a:link{
  color: gray;
}
.forgot a:hover{
  color: green;
}
.login p{
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: arial;
  text-align: center;
}

.login a:link{
  color: white;
}
.login a:hover{
  color: green;
}
